// IMPORTS
@import 'reset';

// Peremennye

$color-prim: #3f72af !important;
// EXTENDS
%h1-style{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 600;
}

%h2-style{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 1000;
    color: #fff;
}

%h3-style{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 500;
    color: #112d4e;
}


%h4-style{
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: 500;
}

%h5-style{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 500;
    color: #4c4c4c;
}

%h6-style{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

%h1-descriptor{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 500;
}

%h2-descriptor{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

%h3-descriptor{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #4c4c4c;
    text-align: center;
}

%h4-descriptor{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

%h5-descriptor{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #4c4c4c;
}

%button-menu{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

%form-style{
    border: none;
    background-color:#dbe2ef;
    border-radius: 2rem;
    height: 3em;
}

%buttons {
    padding: .6em 3.5em;
    border-radius: 2rem;
    background-color: $color-prim;
    border: 2px $color-prim solid !important;
    &:hover {
        background-color: rgba(40%, 40%, 40%, .5) !important;
        color: #fff !important;
        transition: all .2s;
    }
}

%p-style{
    font-family: 'Roboto', sans-serif;
}

%ttls-top-margins{
    margin: 6.2em 0 0 0;
}

// GENERAL STYLES
h1 {
    @extend %h1-style;
}

h2 {
    @extend %h2-style;
}

h3 {
    @extend %h3-style;
}

h4 {
    @extend %h4-style;
}

h5{
    @extend %h5-style;
}

h6{
    @extend %h6-style;
}

p{
    @extend %p-style;
}

.button-menu{
    @extend %button-menu;
}

.change-bg{
    background-color: #f9f7f7;
}

// !!!***---HEADER---***!!!

// menu
.nav-item a{
    color:  #666666 !important;
}

li .btn-outline-primary{
    color: $color-prim;
    border-color:#666666 !important;
    padding: .6em 1.8em;
    border-radius: .45rem !important;
}

.btn-outline-primary:hover{
    background-color: rgba(40%, 40%, 40%, .5) !important;
    color: #fff !important;
    transition: all .2s;
}

.hover-effect::before{
    content:'';
    display: block;
    width: 100%;
    background-color: #ccc;
    height: 1px;
    transform: scale(0); 
    transition: all .3s;
    }
    
.hover-effect:hover::before{
    transform: scale(1); 
    }

// Content

.hdr-content{
    margin: 7em 0 0 0;
}

.hdr-content-ttl{
    margin: 5em 0 0 0;
}

.hdr-content p{
    @extend %h1-descriptor;
}

// Form

.form-group input{
    @extend %form-style;
}

.form-group button{
    @extend %buttons;
    @extend %button-menu;
}

.hdr_form{
    margin-bottom: 4.6em;
}

// Picture

.hdr-pic{
    background-color: #dbe2ef;
    height: 36em;
    position: absolute;
    right: 0;
}

.bg-picture {
    position: relative;
    top: 10.8em;
}

// !!!***---FEATURES---***!!!

// Titles

#features{
    @extend %ttls-top-margins;
}

.row_ttl h3:after{
    content:'';
    display: block;
    width: 1.5em;
    background-color: $color-prim;
    height: 1px;
    margin: .4em auto;
}

.row_p{
    @extend %h3-descriptor;
}

// Content

.features_row_cont{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    margin: 3em 0 6em 0;
}

.features_row_cont div{
    margin: 2em auto;
    padding: 0 2.6em;
}

.h4_descriptor{
    @extend %h4-descriptor;
}

// !!!***---HOW IT WORKS---***!!!

// Titles

.how-works_ttl{
    @extend %ttls-top-margins;
}

// Content

.h5-descriptor{
    @extend %h5-descriptor;
}

// !!!***---Call to Action---***!!!
.call2act_block{
    background-image: url(/img/bg-call2action.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 28em;
}

.call2act_block h2{
    margin: 2em 0 0 0;
}

.call2act_block p{
    margin: 1.5em 6em;
}

.h2-descriptor{
    @extend %h2-descriptor;
}

.call2act_block button{
    @extend %buttons;
    @extend %button-menu;
    display: block;
    margin: 0 auto;
    background-color: #112d4e !important;
}

// !!!***---Form Long---***!!!

#form_long{
    background: #0073B3;
}

label{
    color: #fff;
}

#form_long input,
#form_long select{
    @extend %form-style;
    background-color: #fff;
}

.form-arrow{
        background: url(/img/chevron-down-solid.svg) 50% 200px no-repeat;
        background-position: 95% center !important;
        background-size: 15px;

}

#form_long button{
    @extend %buttons;
    @extend %button-menu;
    display: block;
    margin: 0 auto;
    background-color: #0073B3 !important;
    border-color: #fff;
    padding: .6em 3.5em !important;
}

// !!!***---Price---***!!!

.custom-select{
    cursor: pointer;
}

.card{
    border-radius: .55rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.card-title_container{
    background-color: #0073B3 !important;
}

.card-title_container h6{
    margin: .5em !important;
}

.card-body p{
    @extend %p-style;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    color: #0073B3;
}

.dollar{
    @extend %p-style;
    font-weight: bold;
    font-size: 24px;
    display: inline !important;vertical-align: super;
}

.month{
    @extend %p-style;
    font-weight: bold;
    font-size: 24px;
}

.list-group-item{
    border: none !important;
}

.card svg {
    margin: 0 auto;
}

.card button{
    @extend %buttons;
    @extend %button-menu;
    display: block;
    margin: 0 auto;
    background-color: #0073B3 !important;
    border-color: #fff;
    padding: .6em 4.5em !important;
    position: absolute;
    bottom: -4%;
    right: auto;
    left: 21%;
}

.card-right .card-title_container{
    background-color: #112d4e !important;
}

.card-right p{
    color: #112d4e;
}

.card-right button{
    background-color: #112d4e !important;
    border-color: #112d4e;
}

// !!!***---Our partners---***!!!

#partners img{
    max-height: 70%;
    -webkit-filter: opacity(0.5);
}

#partners img:hover{
    max-height: 80%;
    -webkit-filter: opacity(1);
    transition: all .4s;
    cursor: pointer;
}

// !!!***---Review---***!!!

.review_carusel .item{
    border-radius: .55rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 600px;
    height: 250px;
}

.review_quotes{
    position: absolute;
    top: -70%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    font-family: 'Playfair Display', serif !important;
    color: #d0dae8;
    font-size: 250px;
}

.item .review-txt{
    @extend %p-style;
    font-size: 18px;
    font-weight: 800;
    display: inline-block;
    margin: 9% 9% 2% 9%;

}

// !!!***---FAQ---***!!!

.faq_ttl{
    @extend %p-style;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
}

.faq_descr{
    @extend %p-style;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.row_faqs button{
    @extend %buttons;
    @extend %button-menu;
    display: block;
    margin: 0 auto;
    background-color: $color-prim !important;
    border-color: $color-prim;
}

.faq_hid-left,
.faq_hid-right{
    display: none;
}

  // !!!***---MAP---***!!!

.map_row{
    position: relative;
}

  section.map {
    width:100%;
    height:100%;
    overflow:hidden;
  }
  
  iframe {
    margin-top:-50px;
    pointer-events: none;
  }

  .clicked{
    pointer-events: auto;
  }

  .map_informer{
    position: absolute;
    left: 25%;
    top: 15%;
    width: 17em;
    height: 23em !important;
  }

.map_informer_ttl{
    @extend %p-style;
    font-size: 26px;
    font-weight: 900;
    margin: 2.5em 0 1.5em 1em;
}

.map_info_block{
    margin: 0 0 1.5em 2em;
}

.map_informer_sub-ttl{
    @extend %p-style;
    font-size: 15px;
    font-weight: 100;
    margin: 0 auto;
    font-weight: 600;
}

.map_informer_info{
    @extend %p-style;
    font-size: 15px;
    font-weight: 100;
    color: #000;
}

  // !!!***---FOOTER---***!!!
#footer{
    background-color: #112d4e;
}

.footer_txt,
.footer_txt a{
    @extend %h4-descriptor;
    color: #ededed;
}

.footer_txt-hdr{
    @extend %h5-descriptor;
    color: #ededed !important;
}

.footer_links{
    padding: 0;
    line-height: 2.2em;
}

.footer_links li{
    list-style: none;
}

.footer_icons img{
    margin-left: .4em;
    cursor: pointer;
}

.line{
    background-color: #fff;
}

.adress{
    @extend %h4-descriptor;
    color: #ededed;
}