// IMPORTS
@import 'reset';

// Peremennye

$color-prim: #3f72af;
// EXTENDS
%h1-style{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 600;
}

%h2-style{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 1000;
    color: #fff;
}

%h3-style{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 500;
    color: #112d4e;
}


%h4-style{
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: 500;
}

%h5-style{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 500;
    color: #4c4c4c;
}

%h6-style{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

%h1-descriptor{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 500;
}

%h2-descriptor{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

%h3-descriptor{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #4c4c4c;
    text-align: center;
}

%h4-descriptor{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

%h5-descriptor{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #4c4c4c;
}

%button-menu{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

%form-style{
    border: none;
    background-color:#dbe2ef;
    border-radius: 2rem;
    height: 3em;
}

%buttons {
    padding: .6em 3.5em;
    border-radius: 2rem;
    background-color: $color-prim;
    border: 1px $color-prim solid !important;
    &:hover {
        background-color: rgba(40%, 40%, 40%, .5) !important;
        color: #fff !important;
        transition: all .2s;
    }
}

%p-style{
    font-family: 'Roboto', sans-serif;
}

%ttls-top-margins{
    margin: 6.2em 0 0 0;
}

// GENERAL STYLES
h1 {
    @extend %h1-style;
}

h2 {
    @extend %h2-style;
}

h3 {
    @extend %h3-style;
}

h4 {
    @extend %h4-style;
}

h5{
    @extend %h5-style;
}

h6{
    @extend %h6-style;
}

p{
    @extend %p-style;
}

.button-menu{
    @extend %button-menu;
}

.change-bg{
    background-color: #f9f7f7;
}

// !!!***---HEADER---***!!!

// menu
.nav-item a{
    color:  #666666 !important;
}

li .btn-outline-primary{
    color: $color-prim;
    border-color:#666666 !important;
    padding: .6em 1.8em;
    border-radius: .45rem !important;
}

.btn-outline-primary:hover{
    background-color: rgba(40%, 40%, 40%, .5) !important;
    color: #fff !important;
    transition: all .2s;
}

.hover-effect::before{
    content:'';
    display: block;
    width: 100%;
    background-color: #ccc;
    height: 1px;
    transform: scale(0); 
    transition: all .3s;
    }
    
.hover-effect:hover::before{
    transform: scale(1); 
    }

// Content

.hdr-content{
    margin: 7em 0 0 0;
}

.hdr-content-ttl{
    margin: 5em 0 0 0;
}

.hdr-content p{
    @extend %h1-descriptor;
}

// Form

.form-group input{
    @extend %form-style;
}

.form-group button{
    @extend %buttons;
    @extend %button-menu;
}

.hdr_form{
    margin-bottom: 4.6em;
}

// Picture

.hdr-pic{
    background-color: #dbe2ef;
    height: 36em;
    position: absolute;
    right: 0;
}

.bg-picture {
    position: relative;
    top: 10.8em;
}

// !!!***---FEATURES---***!!!

// Titles

#features{
    @extend %ttls-top-margins;
}

.row_ttl h3:after{
    content:'';
    display: block;
    width: 1.5em;
    background-color: $color-prim;
    height: 1px;
    margin: .4em auto;
}

.row_p{
    @extend %h3-descriptor;
}

// Content

.features_row_cont{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    margin: 3em 0 6em 0;
}

.features_row_cont div{
    margin: 2em auto;
    padding: 0 2.6em;
}

.h4_descriptor{
    @extend %h4-descriptor;
}

// !!!***---HOW IT WORKS---***!!!

// Titles

.how-works_ttl{
    @extend %ttls-top-margins;
}

// Content

.h5-descriptor{
    @extend %h5-descriptor;
}

// !!!***---Call to Action---***!!!
.call2act_block{
    background-image: url(/img/bg-call2action.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 28em;
}

.call2act_block h2{
    margin: 2em 0 0 0;
}

.call2act_block p{
    margin: 1.5em 6em;
}

.h2-descriptor{
    @extend %h2-descriptor;
}

.call2act_block button{
    @extend %buttons;
    @extend %button-menu;
    display: block;
    margin: 0 auto;
    background-color: #112d4e !important;
}

// !!!***---Form Long---***!!!

#form_long{
    background: #0073B3;
}

label{
    left: 25px !important;
}


#form_long input,
#form_long select{
    @extend %form-style;
    background-color: #fff;
}

.form-arrow{
        background: url(/img/chevron-down-solid.svg) 50% 200px no-repeat;
        background-position: 95% center !important;
        background-size: 15px;

}

#form_long button{
    @extend %buttons;
    @extend %button-menu;
    display: block;
    margin: 0 auto;
    background-color: #0073B3 !important;
    border-color: #fff !important;
    padding: .6em 5.5em !important;
}

// !!!***---Price---***!!!

.custom-select{
    cursor: pointer;
}

.card{
    border-radius: .55rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.card-title_container{
    background-color: #0073B3 !important;
}

.card-title_container h6{
    margin: .5em !important;
}

.card-body p{
    @extend %p-style;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    color: #0073B3;
}

.dollar{
    @extend %p-style;
    font-weight: bold;
    font-size: 24px;
    display: inline !important;vertical-align: super;
}

.month{
    @extend %p-style;
    font-weight: bold;
    font-size: 24px;
}

.list-group-item{
    border: none !important;
}

.card svg {
    margin: 0 auto;
}

.card button{
    @extend %buttons;
    @extend %button-menu;
    display: block;
    margin: 0 auto;
    background-color: #0073B3 !important;
    border-color: #fff;
    padding: .6em 4.5em !important;
    position: absolute;
    bottom: -4%;
    right: auto;
    left: 21%;
}

.card-right .card-title_container{
    background-color: #112d4e !important;
}

.card-right p{
    color: #112d4e;
}

.card-right button{
    background-color: #112d4e !important;
    border-color: #112d4e;
}

// !!!***---Our partners---***!!!

#partners img{
    max-height: 70%;
    -webkit-filter: opacity(0.5);
}

#partners img:hover{
    max-height: 80%;
    -webkit-filter: opacity(1);
    transition: all .4s;
    cursor: pointer;
}

// !!!***---Review---***!!!

.review_carusel .item{
    border-radius: .55rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 600px;
    height: 250px;
}

.review_quotes{
    position: absolute;
    top: -70%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    font-family: 'Playfair Display', serif !important;
    color: #d0dae8;
    font-size: 250px;
}

.item .review-txt{
    @extend %p-style;
    font-size: 18px;
    font-weight: 800;
    display: inline-block;
    margin: 9% 9% 2% 9%;

}

// !!!***---FAQ---***!!!

.faq_ttl{
    @extend %p-style;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
}

.faq_descr{
    @extend %p-style;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.row_faqs button{
    @extend %buttons;
    @extend %button-menu;
    display: block;
    margin: 0 auto;
    background-color: $color-prim !important;
    border-color: $color-prim;
}

.faq_hid-left,
.faq_hid-right{
    display: none;
}

  // !!!***---MAP---***!!!

.map_row{
    position: relative;
}

  section.map {
    width:100%;
    height:100%;
    overflow:hidden;
  }
  
  iframe {
    margin-top:-50px;
    pointer-events: none;
  }

  .clicked{
    pointer-events: auto;
  }

  .map_informer{
    position: absolute;
    left: 25%;
    top: 15%;
    width: 17em;
    height: 23em !important;
    z-index: 1;
  }

.map_informer_ttl{
    @extend %p-style;
    font-size: 26px;
    font-weight: 900;
    margin: 2.5em 0 1.5em 1em;
}

.map_info_block{
    margin: 0 0 1.5em 2em;
}

.map_informer_sub-ttl{
    @extend %p-style;
    font-size: 15px;
    font-weight: 100;
    margin: 0 auto;
    font-weight: 600;
}

.map_informer_info{
    @extend %p-style;
    font-size: 15px;
    font-weight: 100;
    color: #000;
}

  // !!!***---FOOTER---***!!!
#footer{
    background-color: #112d4e;
}

.footer_txt,
.footer_txt a{
    @extend %h4-descriptor;
    color: #ededed;
}

.footer_txt-hdr{
    @extend %h5-descriptor;
    color: #ededed !important;
}

.footer_links{
    padding: 0;
    line-height: 2.2em;
}

.footer_links li{
    list-style: none;
}

.footer_icons img{
    margin-left: .4em;
    cursor: pointer;
}

.line{
    background-color: #fff;
}

.adress{
    @extend %h4-descriptor;
    color: #ededed;
}

// Pop Up
#contact_us_popup{
    padding: 2% !important;
}
.group{ 
    position:relative; 
    margin-bottom:45px; 
  }

  input{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }

 .btn-send{
    @extend %buttons;
    @extend %button-menu;
    display: block;
    margin: 0 auto;
    background-color: $color-prim !important;
    border-color: $color-prim;
}
  
  /* LABEL ======================================= */
  label{
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  .inpt_change{
    top:-20px;
    font-size:14px;
    color:#5264AE;
    outline:none;
  }
  
  /* BOTTOM BARS ================================= */
  .bar{ 
      position:relative; 
      display:block; 
      width:300px; 
    }
  .bar:before, 
  .bar:after{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  .bar1:before,
  .bar1:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus + .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }

// ALERT THANK YOU

.alert{
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 2px 5px #000;
}

.alert p{
    @extend %p-style;
}

.alert h5{
    color: #000 !important;
    text-align: center !important;
}

// BUTTON learn
.btn_learn a{
    color: #fff !important;
    text-decoration: none;
}

#test-popup{
    margin: 0 auto;
    width: 50%;
}


#test-popup p,
#test-popup ul,
#test-popup li
{
    @extend %p-style;
    color: #fff !important;
}

// ALERT Plan
.plan-popup{
    text-align: center;
}


.plan-popup span{
    text-transform: uppercase;
    color: red;
    font-size: 1.5em !important;
    text-decoration: underline;
}




// !!!***---MEDIA QUERIES---***!!!

@media (max-width: 1450px){
    .form_long-form label{
        font-size: 14px !important;
    }
    }

@media (max-width: 1310px){
    .call2act_block h2{
        font-size: 38px;
    }
    #form_long button{
        padding: .6em 3.5em !important;
    }
}


@media (max-width: 1199px){
    .hdr-pic{
        position: relative;
    }
    .hdr-content-ttl{
        margin: 0 auto;
    }
    .call2act_block p{
        margin: 3em 12em;
    }

    .card button{
        left: 40% !important;
    }

    .form_long-form label{
        font-size: 12px !important;
    }

    #form_long button{
        padding: .6em 10% !important;
        margin-top: 5%;
    }

    .form_long-form{
        max-width: 80%;
        margin: 0 auto;
    }

    .form_long-form select,
    .form_long-form input{
        margin: 4% 0%;
    }

    .form_long-form label{
        font-size: 15px !important;
        margin-top: 4%;
    }

    .btn-comp-plans{
        display: block;
        width: 100%;
    }
}

@media (max-width: 1100px){
    .map_informer{
        position: inherit !important;
        left: 0;
        margin: 5% 0 0 0 ;
        text-align: center;
    }
}

@media (max-width: 991px){
    .card button{
        left: 35% !important;
    }

    .nav-item,
    .nav-item button{
        margin-top: .5em !important;
    }
}

@media (max-width: 800px){
    .call2act_block p{
        margin: 2em 4em;
    }
}

@media (max-width: 767px){
    .card button{
        left: 30% !important;
    }
    #test-popup h2{
        font-size: 28px;
    }
}

@media (max-width: 600px){
    .review_carusel .item{
        width: 400px;
    }

}

@media (max-width: 470px){
    .card button{
        left: 27% !important;
    }

    .call2act_block h2{
        font-size: 30px !important;
    }
}

@media (max-width: 420px){
    .card button{
        left: 25% !important;
    }
}

@media (max-width: 400px){
    .card button{
        left: 20% !important;
    }
}

@media (max-width: 310px){
    .card button{
        left: 15% !important;
    }
}